.arkaplan {
    background-image: url(./resimler/monster/arkaplan.webp);
    background-size: cover;
}

.üst {
    justify-content: space-between;
    padding-top: 10px;
}

.left{
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    float: left;
}

.right{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 70px;
    padding-right: 25px;
    box-sizing: border-box;
}

.logo{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 25px;
}

.logo img {
    height: 70px;
    width: 50%;
}

.dil{
    float: left;
    width: 100px;
}

.dil select {
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
}

.dil select option {
    color: black;
}

.login {
    box-sizing: border-box;
    width: 100px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(247, 14, 14);
    text-align: center;
    justify-content: center;
    float: left;
}
.login a{
    text-decoration: none;
    color: white;
}

.orta-yazi ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.orta-yazi .block {
    height: 30px;
    width: 100px;
    border: 1px solid gray;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    float: left;
}
.block a{
    text-decoration: none;
    color: white;
}

.resimler{
    background-color: black;
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}
.ilk-sıra{
    width: 100%;
}
.ilk-sıra ul li{
    width: 30%;
    margin-right: 3%;
    float: left;

}

.ilk-sıra ul li img{
    width: 100%;
    height: 100%;
}

.ozellikler{
    color: white;
    background-color: black;
    width: 90%;
    margin-left: 5%;
    padding: 15px;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.altyazı {
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
    width: 90%;
    margin-top: 0px;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

}

.altyazı p {
    margin-right: 25px;
}

.altyazı i {
    margin-right: 25px;
}

.altyazı a {
    color: white;
}

@media only screen and (max-width: 600px)  {
    .left{
        width: 100%;
        justify-content: center;
        padding: 10px 0;
    }
    .logo{
        justify-content: center;
    }
    .right{
        width: 100%;
        justify-content: center;
        padding: 10px 0;
    }
    .orta-yazi ul{
        padding-left: 0;
    }
    .orta-yazi ul li{
        width: 50%;
    }
    .orta-resim{
        width: 100%;
    }

    .resimler{
        width: 100%;
        margin-left: 0;
    }

    .ozellikler{
        width: 100%;
        margin-left: 0;
    }
    .altyazı{
       width: 100%; 
       font-size: 12px;
       justify-content: left;
    }

    .altyazı p{
        font-size: 10px;
        width: 25%;
    }

    .altyazı a:first-of-type{
        font-size: 8px;
        width: 30%;
    }
}